<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiktion tekoälyt: hahmo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">       
</head>
<body>
    <div class="container"><h1>Hahmo: <%=hahmo.nimi%> (<%=hahmo.teos%>)</h1>

        <h2>Hahmon tiedot</h2>
        <p><b>Nimi: </b><%=hahmo.nimi%></br>
        <b>Teos: </b><%=hahmo.teos%></br>
         <b>Teoksen laji: </b> <%=hahmo.lajityyppi%></br>
        <b>Teoksen tekijä: </b><%=hahmo.tekija%></br>
        <b>Kuvaus: </b><%=hahmo.kuvaus%></br></p>
           
        <a class="btn btn-secondary" href="/">Palaa etusivulle</a></div>


    </div>
    
</body>
</html>